/* Enable hover effect for dropdown */
.hover-dropdown:hover .dropdown-menu {
   background-color: #026cb5;
    display: block;
    animation: fadeIn 0.3s ease-in-out;
    margin-top: 0;
   }
  
  /* Animation for dropdown */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Hide dropdown when mouse leaves */
  .navbar .dropdown-menu {
    display: none;
    transition: all 0.3s ease-in-out;
  }
  
 
  .home {
    color: #026cb5;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;   
    background-image: url("../public/images/home/homeBg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
  }